<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl" data-ng-init="init()">
<p>Select a country:</p>

<select ng-model="selectedCountry" ng-change="updateLeagues(selectedCountry)">
<option ng-repeat="x in countries" value="{{x.country_id}}">({{x.country_id}}) - {{x.country_name}}</option>
</select>

<p>Select a league:</p>

<select ng-model="selectedLeague" ng-change="updateTeams(selectedLeague)">
<option ng-repeat="x in leagues" value="{{x.league_id}}">({{x.league_id}}) - {{x.league_name}}</option>
</select>

<p>Select a Team:</p>

<select ng-model="selectedTeam" ng-change="updatePosition(selectedCountry, selectedLeague, selectedTeam)">
<option ng-repeat="x in teams" value="{{x.team_key}}">({{x.team_key}}) - {{x.team_name}}</option>
</select>

<h1>League position: {{position.data}}</h1>

</div>

<script>

var app = angular.module('myApp', []);

app.controller('myCtrl',function($scope,$http) {
    $scope.init = function(){
    	 $http.get('/football/countries').then(function(resp){
    		 $scope.countries = resp.data;
    	 });
    };
    
    $scope.updateLeagues = function(country_id){
   	 $http.get('/football/leagues?country_id='+country_id).then(function(resp){
   		 $scope.leagues = resp.data;
   	 });
   };
   
   $scope.updateTeams = function(league_id){
	   	 $http.get('/football/teams?league_id='+league_id).then(function(resp){
	   		 $scope.teams = resp.data;
	   	 });
	   };
	   
	   $scope.updatePosition = function(country_id,league_id, team_id){
		   var url = '/football/league-position?league_id='+league_id+'&team_id='+team_id+'&country_id='+country_id;
		   $http.get(url).then(function(resp){
		   		 $scope.position = resp.data;
		   	 });
	   };
});


</script>

</body>
</html>
